.res {
  background-image: url("../../assets/book2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.reservation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.form-input {
  margin: 20px;
  width: 100%;
  color: var(--first-color);
  background-color: rgb(15, 15, 15);
  border: 1px solid var(--first-color);
  padding: 20px;
}
.input-div {
  margin: 10px;
}
.btn-flex,
.input--textarea {
  grid-column: 1/-1;
}
.reservation,
.form-input {
  border-radius: 15px;
}
.input--textarea .form-input {
  height: 150px;
}
.btn-flex {
  font-size: 20px;
  color: black;
  font-weight: 600;
  width: 20%;
  margin: auto;
}
